{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Inventory" %} | Lima
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex align-items-center">
        <!-- Search bar -->
        <div class="flex-grow-1">
            <input type="text" id="search-input" class="form-control" placeholder="{% trans 'Search articles...' %}" oninput="filterArticles()">
        </div>

        <!-- Add button -->
        <div class="ms-3">
            <a href="{% url 'create_article' %}" class="btn btn-primary">
                {% trans "Add" %}
            </a>
        </div>
    </div>

    <!-- Total Global Cost Alert -->
    <div class="alert alert-info mt-3" role="alert">
        {% trans "Total to spend to complete inventory:" %} {{ total_global_cost }}€
    </div>

    <!-- Article list -->
    <div class="row" id="article-list">
        {% for article in articles %}
        <div class="col-12 col-md-4 mb-3 article-item" data-name="{{ article.name|lower }}">
            <div class="card position-relative {% if article.quantity == 0 %}out-of-stock{% endif %}"
                style="border: 1px solid #6c757d; border-radius: 15px;">

                <div class="dropdown position-absolute" style="top: 10px; right: 15px;">
                    <button class="btn p-0"
                            id="dropdownMenuLink{{ article.pk }}"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            style="background-color: transparent; border: none; padding: 0; font-size: 1.5rem; width: 30px; height: 30px; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
                        <i class="fas fa-ellipsis-vertical"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink{{ article.pk }}">
                        <li><a class="dropdown-item" href="{% url 'update_article' article.pk %}">{% trans "Edit" %}</a></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'delete_article' article.pk %}">{% trans "Delete" %}</a></li>
                    </ul>
                </div>

                <div class="card-body d-flex align-items-start">
                    <h5 class="card-title mb-0 flex-grow-1" style="font-weight: bold;">{{ article.name }}</h5>
                </div>

                <div class="card-body" style="color: #6c757d; font-size: 0.9rem;">
                    {% if article.description %}
                        <p>{{ article.description }}</p>
                    {% endif %}
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 1.1rem;">
                        {% trans "Total" %} {{ article.total_cost }}€
                    </span>

                    <div class="ms-auto d-flex align-items-center">
                        <span class="quantity me-3" style="font-size: 1rem;">{{ article.quantity }}/{{ article.quantity_to_buy }}</span>
                        <a href="{% url 'decrease_quantity' article.pk %}"
                           class="btn btn-secondary rounded-circle me-2 {% if article.quantity == 0 %}disabled{% endif %}"
                           style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">-</a>
                        <a href="{% url 'increase_quantity' article.pk %}" class="btn btn-secondary rounded-circle"
                           style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">+</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-warning" role="alert" style="width: 100%;">
            {% trans "No articles in inventory." %}
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function filterArticles() {
        const searchInput = document.getElementById('search-input').value.toLowerCase();
        const articles = document.querySelectorAll('.article-item');

        articles.forEach(article => {
            const articleName = article.getAttribute('data-name');
            if (articleName.includes(searchInput)) {
                article.style.display = '';  // Show article
            } else {
                article.style.display = 'none';  // Hide article
            }
        });
    }
</script>

{% endblock %}
