{% extends "base.html" %}
{% load custom_filters %}
{% block title %}
    Inventario | Lima
{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="GET" class="mb-4" id="filter-form">
        <div class="d-flex align-items-center">
            <!-- Barra de búsqueda -->
            <div class="flex-grow-1">
                {{ form.name }}
            </div>
            <!-- Botón Añadir -->
            <div class="ms-3">
                <a href="{% url 'create_article' %}" class="btn btn-primary">
                    Añadir
                </a>
            </div>
        </div>
    </form>

    <div class="row" id="article-list">
        {% for item in page_obj %}
        <div class="col-12 col-md-4 mb-3">
            <div class="card position-relative {% if item.quantity == 0 %}out-of-stock{% endif %}"
                style="border: 1px solid #6c757d; border-radius: 15px;">
                
                <div class="dropdown position-absolute" style="top: 10px; right: 15px;">
                    <button class="btn p-0" 
                            id="dropdownMenuLink{{ item.pk }}" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false"
                            style="background-color: transparent; border: none; padding: 0; font-size: 1.5rem; width: 30px; height: 30px; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
                        <i class="fas fa-ellipsis-vertical"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink{{ item.pk }}">
                        <li><a class="dropdown-item" href="{% url 'update_article' item.pk %}">Editar</a></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'delete_article' item.pk %}">Eliminar</a></li>
                    </ul>
                </div>

                <div class="card-body d-flex align-items-start">
                    <h5 class="card-title mb-0 flex-grow-1" style="font-weight: bold;">{{ item.name }}</h5>
                </div>

                <div class="card-body" style="color: #6c757d; font-size: 0.9rem;">
                    {% if item.description %}
                        <p>{{ item.description }}</p>
                    {% endif %}
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 1.1rem;">
                        {{ item.price }}€
                    </span>

                    <div class="ms-auto d-flex align-items-center">
                        <span class="quantity me-3" style="font-size: 1rem;">{{ item.quantity }} en stock</span>
                        <a href="{% url 'decrease_quantity' item.pk %}"
                            class="btn btn-secondary rounded-circle me-2 {% if item.quantity == 0 %}disabled{% endif %}"
                            style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">-</a>
                        <a href="{% url 'increase_quantity' item.pk %}" class="btn btn-secondary rounded-circle"
                            style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">+</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-warning" role="alert" style="width: 100%;">
            No items in inventory.
        </div>
        {% endfor %}
    </div>

    <!-- Paginación -->
    <div class="d-flex justify-content-center mt-4">
        <div>
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-primary">Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Anterior</a>
            {% endif %}
            <span class="mx-3">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Última</a>
            {% endif %}
        </div>
    </div>

    <script>
        // Obtener el formulario y la lista de artículos
        const filterForm = document.getElementById('filter-form');
        const articleList = document.getElementById('article-list');

        // Función para filtrar los artículos en vivo
        filterForm.addEventListener('input', function () {
            const query = filterForm.querySelector('input[name="name"]').value.toLowerCase();

            // Filtrar los artículos basados en el texto del campo de búsqueda
            const items = articleList.querySelectorAll('.col-md-4');
            items.forEach(item => {
                const itemName = item.querySelector('.card-title').textContent.toLowerCase();
                if (itemName.includes(query)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    </script>
</div>
{% endblock %}
