{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Inventory" %} | Lima
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex align-items-center">
        <!-- Search bar -->
        <div class="flex-grow-1">
            <input type="text" id="search-input" class="form-control" placeholder="{% trans 'Search items...' %}" oninput="filterItems()">
        </div>

        <!-- Add button -->
        <div class="ms-3">
            <a href="{% url 'create_item' pk=list.pk %}" class="btn btn-primary">
                {% trans "Add" %}
            </a>
        </div>
    </div>

    <!-- Total Global Cost Alert -->
    <div class="alert alert-info mt-3" role="alert">
        {% trans "Total to spend to complete inventory:" %} {{ total_global_cost }}€
    </div>

    <!-- Item list -->
    <div class="row" id="item-list">
        {% for item in items %}
        <div class="col-12 col-md-4 mb-3 item-item" data-name="{{ item.name|lower }}">
            <div class="card position-relative {% if item.amount == 0 %}out-of-stock{% endif %}"
                style="border: 1px solid #6c757d; border-radius: 15px;">

                <div class="dropdown position-absolute" style="top: 10px; right: 15px;">
                    <button class="btn p-0"
                            id="dropdownMenuLink{{ item.pk }}"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            style="background-color: transparent; border: none; padding: 0; font-size: 1.5rem; width: 30px; height: 30px; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
                        <i class="fas fa-ellipsis-vertical"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink{{ item.pk }}">
                        <li><a class="dropdown-item" href="{% url 'update_item' item.pk %}">{% trans "Edit" %}</a></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'delete_item' item.pk %}">{% trans "Delete" %}</a></li>
                    </ul>
                </div>

                <div class="card-body d-flex align-items-start">
                    <h5 class="card-title mb-0 flex-grow-1" style="font-weight: bold;">{{ item.name }}</h5>
                </div>

                <div class="card-body" style="color: #6c757d; font-size: 0.9rem;">
                    {% if item.description %}
                        <p>{{ item.description }}</p>
                    {% endif %}
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center">
                    <span class="text-muted" style="font-size: 1.1rem;">
                        {% trans "Total" %} {{ item.total_cost }}€
                    </span>

                    <div class="ms-auto d-flex align-items-center">
                        <span class="amount me-3" style="font-size: 1rem;">{{ item.amount }}/{{ item.amount_to_buy }}</span>
                        <a href="{% url 'decrease_amount' item.pk %}"
                           class="btn btn-secondary rounded-circle me-2 {% if item.amount == 0 %}disabled{% endif %}"
                           style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">-</a>
                        <a href="{% url 'increase_amount' item.pk %}" class="btn btn-secondary rounded-circle"
                           style="width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">+</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-warning" role="alert" style="width: 100%;">
            {% trans "No items in inventory." %}
        </div>
        {% endfor %}
    </div>
</div>

<script>
    let debounceTimeout;
    function filterItems() {
        clearTimeout(debounceTimeout);
        debounceTimeout = setTimeout(() => {
            const searchInput = document.getElementById('search-input').value.toLowerCase();
            const items = document.querySelectorAll('.item-item');
        
            items.forEach(item => {
                const itemName = item.getAttribute('data-name');
                if (itemName.includes(searchInput)) {
                    item.style.display = '';  // Show item
                } else {
                    item.style.display = 'none';  // Hide item
                }
            });
        }, 300);
    }

    // Initialize dropdowns after the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.dropdown-toggle').forEach((dropdown) => {
            new bootstrap.Dropdown(dropdown);
        });
    });
</script>
{% endblock %}
