[MASTER]
# A comma-separated list of packages or modules to be ignored
ignore=migrations

# A regular expression matching the files and directories to ignore
ignore-patterns=^app/inventory/migrations/.*\.py$
