/* Big screens */
@media (min-width: 768px) {
    .navbar-nav .nav-item .dropdown-toggle {
        width: auto;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item .flag-icon {
        width: 24px;
        height: 18px;
        vertical-align: middle;
    }

    .navbar-nav .nav-item .dropdown-menu {
        min-width: 0;
    }

    .navbar-nav .nav-item {
        margin-right: 15px;
    }

    .navbar-nav .nav-item .dropdown {
        margin-top: 0px;
    }
}

/* Small screens */
@media (max-width: 767px) {
    .navbar-nav .nav-item .dropdown-toggle {
        width: auto;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-nav .nav-item .flag-icon {
        width: 24px;
        height: 18px;
        vertical-align: middle;
    }

    .navbar-nav .nav-item .dropdown-menu {
        min-width: 0;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .navbar-nav .nav-item.ms-3 {
        margin-right: 15px;
    }

    .navbar-nav .nav-item .dropdown {
        margin-top: 10px;
    }

    .navbar-nav .nav-item .btn {
        width: auto;
    }
}
