.btn.disabled {
    background-color: rgba(108, 117, 125, 0.5); /* Gris más claro con transparencia */
    color: rgba(255, 255, 255, 0.5); /* Color de texto más claro */
    pointer-events: none; /* Evitar clics en el botón deshabilitado */
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

@media (max-width: 576px) {
    .card h5 {
        font-size: 1.2rem; /* Tamaño de fuente más pequeño para móvil */
    }
    .btn {
        font-size: 0.7rem; /* Ajustado el tamaño de los botones */
    }
}