{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
  {% trans "Delete item" %} | Lima
{% endblock %}
{% block content %}

<form method="post" action="">
  {% csrf_token %}

  <!-- Hidden field for list_pk -->
  <input type="hidden" name="list_pk" value="{{ item.list.pk }}">

  <div class="container mt-5">
    <h3 class="mb-4">{% trans "Delete item" %}</h3>

    <div class="alert alert-warning">
      <p>{% trans "Do want to delete the item: " %}<strong>{{ item.name }}</strong>?</p>
    </div>

    <div class="form-footer text-end">
      <a href="{% url 'list_detail' pk=item.list.pk %}" class="btn btn-secondary me-2">{% trans "Cancel" %}</a>
      <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
    </div>
  </div>
</form>
{% endblock %}
