{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
    Actualizar artículo | Lima
{% endblock %}
{% block content %}

<div class="container mt-5">
  <h3 class="mb-4">Actualizar artículo</h3>

  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Specific errors -->
    <div class="{% if form.non_field_errors %}is-invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    </div>

    <!-- Loop over 'Article' fields -->
    {% for field in form %}
      <div class="form-group mb-3">

        <!-- Field label -->
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

        <!-- Input fields-->
        {% if field.field.widget.input_type == "checkbox" %}
          <div class="form-check">
            {% render_field field class="form-check-input" %}
            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
        {% elif field.field.widget.input_type == "date" %}
          {% render_field field class="form-control" type="date" %}
        {% else %}
          <!-- Read Fields -->
          {% render_field field class="form-control" placeholder=field.label %}
        {% endif %}

        <!-- Shows validation errors -->
        <div class="invalid-feedback">
          {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <!-- Hidden input for list_pk -->
    <input type="hidden" name="list_pk" value="{{ article.list.pk }}">

    <div class="form-footer text-end">
      <a href="{% url 'list_detail' pk=article.list.pk %}" class="btn btn-secondary me-2">Cancelar</a>
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
  </form>
</div>
{% endblock %}
