{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/_navbar.css' %}">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img id="lima-logo" src="{% static 'assets/icons/favicon.svg' %}" alt="Logo" draggable="false" height="50" />
            <div class="d-flex flex-column align-items-center ms-2">
                <span class="lobster-font" style="font-size: 1.5rem; line-height: 1;">Lima</span>
                <span class="text-muted" style="font-size: 0.8rem; margin-top: 0px;">{{ APP_VERSION }}</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/inventory"><i class="fas fa-file-lines pe-2"></i>{% trans "Inventory" %}</a>
                </li>

                {% if request.user.is_superuser %}
                <li class="nav-item ms-3">
                    <a class="nav-link mx-2" href="/admin"><i class="fas fa-user-secret pe-2"></i>{% trans "Admin" %}</a>
                </li>
                {% endif %}

                <!-- Language Modal Trigger -->
                <li class="nav-item ms-3 d-flex align-items-center">
                    <button class="btn p-0" type="button" data-bs-toggle="modal" data-bs-target="#languageModal" style="background: none; border: none; padding: 0;">
                        {% if request.LANGUAGE_CODE == 'en' %}
                            <span class="flag-icon flag-icon-gb" style="font-size: 2rem;"></span>
                        {% else %}
                            <span class="flag-icon flag-icon-{{ request.LANGUAGE_CODE }}" style="font-size: 2rem;"></span>
                        {% endif %}
                    </button>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item ms-3">
                    <a class="btn btn-secondary btn-rounded" href="{% url 'logout' %}">Logout</a>
                </li>

                {% else %}
                <li class="nav-item ms-3">
                    <a class="btn btn-secondary btn-rounded" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Language Modal -->
<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="languageModalLabel">{% trans "Select Language" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary w-100 mb-2" type="submit" name="language" value="es">
                        <span class="flag-icon flag-icon-es" style="font-size: 2rem;"></span> {% trans "Spanish" %}
                    </button>
                    <button class="btn btn-outline-primary w-100" type="submit" name="language" value="en">
                        <span class="flag-icon flag-icon-gb" style="font-size: 2rem;"></span> {% trans "English" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
